<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>SiGI Conformação de Inscrição</title>
		<link href="https://fonts.googleapis.com/css?family=Abel|Dosis|Montserrat|Open+Sans|Open+Sans+Condensed:300|Rajdhani" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	<body style="width: 100%; height: 100%; margin: 0;">
		<center><div style="background-color: #ffffff;">
				<img src="https://i.imgur.com/S3Bc3Mc.png" style="height: 111px; width: 191px;">
		</div></center>
		<div style="border-bottom: 2px solid #4FBAAB"></div>
		<br>
		<br>
		<div style="font-family: 'Open Sans Condensed', sans-serif; font-size: 25px; text-align: center; color:#000000"><b>{{ teacher_name }},</b> a inscrição da instituição <b>{{ school_name }}</b> na SiGI foi confirmada!</div>
		<br>
		<br>
		<div style="font-family: 'Open Sans Condensed', sans-serif; text-indent: 3em; font-size: 20px; text-align: justify; color:#000000"> Muito obrigado, sua participação é importante para nós!
 		Segue em anexo a planilha de inscrição e seu termo de compromisso.</div>
 		<br>
 		<div style="font-family: 'Open Sans Condensed', sans-serif; text-indent: 3em; font-size: 20px; text-align: justify; color:#000000"> Para dúvidas ou esclarecimentos entre em contato com 
 			<div style="font-family: 'Open Sans Condensed', sans-serif; font-size: 20px; color: #4FBAAB; display: inline;">organizacaosigi@gmail.com</div>
 			<div style="font-family: 'Open Sans Condensed', sans-serif; text-indent: 3em; font-size: 20px; display: inline; color:#000000">
 				ou
 			</div>
 			<div style="font-family: 'Open Sans Condensed', sans-serif; font-size: 20px; color: #4FBAAB; display: inline;">setimasigi@gmail.com</div>.</div>
 		<br>
 		<br>
 		<div style="font-family: 'Open Sans Condensed', sans-serif; text-indent: 2em; font-size: 14px; color:#000000">
			Att.<br>
		</div>
		<div style="font-family: 'Open Sans Condensed', sans-serif; text-indent: 2em; font-size: 14px; color:#000000">
			Organização da SiGI.<br>
		</div>
		<div style="font-family: 'Open Sans Condensed', sans-serif; text-indent: 2em; font-size: 14px; color:#000000">
			Este é um e-mail automático. Não responda-o.<br>
		</div>
		<br>
		<br>
		<div style="font-family: 'Open Sans Condensed', sans-serif; background-color: #4FBAAB; height: 130px; bottom: 0; color: #ffffff">
			<br>
				<center>
						<a href="https://www.instagram.com/sigioficial/" target="_blank"><img src="https://i.imgur.com/gw19ZLU.png" style="display: inline; height: 40px; width: 40px;"></a>
						<a href="https://www.facebook.com/sigioficial/" target="_blank"><img src="https://i.imgur.com/Z64Ztgb.png" style="display: inline; height: 40px; width: 40px;"></a>
						<a href="http://sigi.ifes.edu.br/" target="_blank"><img src="https://i.imgur.com/b3OrU5D.png" style="display: inline; height: 40px; width: 40px;"></a>
				</center>
			<br>
			<center>© 2019 Copyright: <a href="http://sigi.ifes.edu.br/" style=" font-family: 'Open Sans Condensed', sans-serif; text-decoration: none; color: #ffffff;">SiGI</a> </center>
		</div>
		<div style="color: #a8a8a8; height: 100%; font-size: 10px; font-family: 'Open Sans Condensed', sans-serif; text-indent: 2em; text-align: justify;">
			Não responda essa mensagem.  Este e-mail foi enviado por um sistema automático que não processa respostas. Não divulgaremos nenhuma informação sem prévia autorização.
		</div>
	</body>

</html>